<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FireFly-Start.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7092C0A91CA750E0004DFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7092C0C11CA750E0004DFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7092C0CC1CA750E0004DFA94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
